<!DOCTYPE html>
<html>
<head>
  <title>Vue.js Tests</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" >
  <link href='resources/css/style.css' rel='stylesheet'>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
  <script src='resources/vue-app.js' defer></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat&display=swap');
  </style> 
</head>
<body>
  <div id="app">
    <h1>{{ title }}</h1>
    <h2>{{ message1 }}</p>
    <br><br><br><br><br><br>
    <h3>modify site settings</h3>
    <input type="text" v-model='title' placeholder="Among Us">
    <input type="text" v-model='message1' placeholder="red kinda sus">
  </div>
</body>
</html>
