<!DOCTYPE html>
<html>
<head>
  <title>Vue.js Tests - honk's website</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" >
  <link href="https://gcss.honk.digital/latest.min.css" rel='stylesheet'>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
  <script src='vue-app.js' defer></script>
</head>
<body>
  <div id="app"><center>
    <h1 id="fonts-lato-400">{{ title }}</h1>
    <h2 id="fonts-lato-300">{{ message1 }}</p>
    <br><br><br><br><br><br>
    <h3 id="fonts-lato-300">{{ modifymsg }}</h3>
    <input id="inputs-dot-100" id="fonts-montserrat-400" type="text" v-model='title' placeholder="Among Us">
    <input id="inputs-dot-100" id="fonts-montserrat-400" type="text" v-model='message1' placeholder="red kinda sus">
    <input id="inputs-dot-100" id="fonts-montserrat-400" type="text" v-model='modifymsg' placeholder="modify site settings">
    <h4 id="fonts-montserrat-200"><a href="https://github.com/honklol/vue-tests">link to the github repo</a></h4>
  </center></div>
</body>
</html>
