h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#font-light {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border: 0;
    border-bottom: 1px dotted;
}