h1 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
}

h3 {
    font-family: 'Lato', sans-serif;
}

input {
    font-family: 'Montserrat', sans-serif;
    border: 0;
    border-bottom: 1px dotted;
}